node_modules
build
.vscode
.env
bun.lock
.DS_Store
screenshots/*.*
.claude
recordings/*.*
logs/*.*
/.env
android/report/*.*
web/report/*.*
e2e-dashboard.db
test-results
dashboard/dist
dashboard/node_modules
e2e-dashboard.db-shm
e2e-dashboard.db-wal
public/